<div class="card mb-3 mt-1 shadow-sm">
    {% include "includes/post_img.html" %}
    <div class="card-body">
        <p class="card-text">
                <a name="post_{{ post.id }}" href="{% url 'profile' post.author.username %}">
                <strong class="d-block text-gray-dark">@{{ post.author.username }}</strong>
                </a>
                {% if post.comments.exists %}
                <a class="d-block text-gray-dark" href="{% url 'post' post.author.username post.id %}"> Комментарии: {{ post.comments.count }}</a>
                {% endif %}
                {{ post.text|linebreaksbr }}
        </p>
        {% if post.group %}
                <a class="card-link muted" href="{% url 'group' post.group.slug %}">
                <strong class="d-block text-gray-dark">#{{ post.group.title }}</strong>
                </a>
        {% endif %}
        <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group ">
                <a class="btn btn-sm text-muted" href="{% url 'post' post.author.username post.id %}" role="button">Добавить комментарий</a>
                {% if request.user == post.author %}
                        <a class="btn btn-sm text-muted" href="{% url 'post_edit' post.author.username post.id%}" role="button">Редактировать</a>
                {% endif %}
                </div>
                <small class="text-muted">Дата публикации: {{ post.pub_date|date:"d M Y" }}</small>
        </div>
    </div>
</div>