<div class="col-md-3 mb-3 mt-1">
    <div class="card">
            <div class="card-body">
                    <div class="h2">
                    {{ author.get_full_name }}
                    </div>
                    <div class="h3 text-muted">
                    {{ author.username }}
                    </div>
            </div>
            <ul class="list-group list-group-flush">
                     <li class="list-group-item">
                            <div class="h6 text-muted">
                            Подписчиков: {{ author.following.count }} <br />
                            Подписан: {{ author.follower.count }} <br />
                            Записей: {{ author.posts.count }} 
                            </div>
                    </li>
                    {% if request.user != author %}
                            {% include "includes/follow_buttons.html" %}
                    {% endif %}
            </ul>
    </div>
</div>